name: Flutter APK Version Release

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    env:
      PROJECT_PATH: ${{ github.workspace }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set project path
        run: echo "PROJECT_PATH=${{ github.workspace }}" >> $GITHUB_ENV

      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.19.2'

      - name: Install dependencies
        run: flutter pub get

      - name: Lint
        run: flutter analyze

      - name: Run tests
        run: flutter test

  release:
    needs: build
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup Java
        uses: actions/setup-java@v2
        with:
          distribution: 'zulu'
          java-version: '11'

      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: 'stable'

      - name: Install Flutter dependencies
        run: flutter pub get

      - name: Build release APK
        run: flutter build apk --release --split-per-abi

  deploy_to_play_console:
    needs: release
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Deploy to Google Play
        uses: r0adkll/upload-google-play@v1
        with:
          serviceAccountJson: ${{ secrets.PLAY_CONSOLE_API_KEY }}
          packageName: your.package.name  # Replace with your actual package name
          releaseFile: build/app/outputs/flutter-apk/app-release.apk
          track: production
          inAppUpdatePriority: 0
          status: completed
          changesNotSentForReview: false
